<h1>
  {{title}}
</h1>
<p>{{description}}</p>
<h3 class="required">Event Binding</h3>
<button (click)="alertMe(1,test,t2)">Alert Me</button>
<button (mouseenter)="toogle()">Toogle</button>
<h3>Property Binding</h3>
<!--
Email <input
  [disabled]="disableEmail"
  type="email"
  [value]="email"
  class="test"
  [class.bold]="true"
  [class.required]="true"
  [ngClass]="{full:true,bg:1==='1'}"
/>

<p [style.backgroundColor]="'green'" [style.color]="'white'"
  [ngStyle]="{width:paraWidth,height:'300px'}"
>This is my para</p>
-->
<h3>Structure</h3>
<button (click)="toogleWarning()">Toogle Warning</button>
{{warningflag}}
<div *ngIf="warningflag">
This is warning
</div>

<div *ngIf="!warningflag">
  Info message
</div>

For loops
<ul *ngFor="let color of colors;let i=index;let odd=odd;let even=even;let first=first;let last=last;">
  <li>{{i+1}} - {{color}} Odd:{{odd}}  Even:{{even}} First: {{first}} Last: {{last}}</li>
</ul>

For loop
<ul *ngFor="let item of items;let i=index;let odd=odd;let even=even;let first=first;let last=last;">
  <li>{{i}} - {{item.name}} {{item.price.total}} Odd:{{odd}}  Even:{{even}} First: {{first}} Last: {{last}}</li>
</ul>


<!--<app-second></app-second>-->
<h2>Available Products</h2>
<app-product-listing></app-product-listing>

