/* You can add global styles to this file, and also import other style files */

.required {
    color:green;
}



.required {
    color:blue;
}

.flex {
    display: flex;
}
.flex-auto {
    flex:1 1 auto;
}

.full-width {
    width:100%;
}
